 @import "tailwindcss";

 @theme {
  --dark-mode: class; 
}

 .no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.dark body {
  background-color: #0f172a;
}